Repository sakataka/tetris-game2: changes, and which lefthook commands are due for each by the changed paths.
All: format, lint

format:
  run: bun run format
  stage_fixed: true

lint:
  run: bun run lint
  stage_fixed: true

fix: resolve AI line clearing issues and test failures
  biome.json
  bun.lock
  package.json
  src/benchmarks/ai-strategy-benchmark.ts
  src/game/ai/core/advanced-ai-engine.ts
  src/game/ai/core/bitboard.ts
  src/game/ai/core/move-generator.ts
  src/game/ai/evaluators/dellacherie.test.ts
  src/game/ai/evaluators/dellacherie.ts
  src/game/ai/evaluators/new-weights.test.ts
  src/game/ai/evaluators/new-weights.ts
  src/game/ai/evaluators/pattern-evaluator.ts
  src/game/ai/evaluators/patterns.test.ts
  src/game/ai/evaluators/patterns.ts
  src/game/ai/evaluators/weights.ts
  src/game/ai/optimization/ab-testing.ts
  src/game/ai/optimization/battle-simulator.ts
  src/game/ai/optimization/continuous-improvement.ts
  src/game/ai/optimization/parameter-tuner.ts
  src/game/ai/search/beam-search.ts
  src/game/ai/search/pattern-search.test.ts
  src/game/ai/search/pattern-search.ts
  src/game/ai/tests/integration/ai-strategy-integration.test.ts
  tests/performance/pattern-search.test.ts
  tests/performance/pattern-success-rates.test.ts
Due: format, lint

docs: update CLAUDE.md to reflect current AI system architecture
  CLAUDE.md
Due: format

fix: rebalance AI evaluation weights to fix line clearing issues
  src/game/ai/evaluators/dellacherie.ts
  src/game/ai/evaluators/new-weights.test.ts
  src/game/ai/evaluators/new-weights.ts
  src/game/ai/evaluators/weights.ts
Due: format, lint

feat: implement stacking-focused AI evaluator with board engine unification
  src/benchmarks/board-engine.benchmark.ts
  src/benchmarks/collision-benchmark.ts
  src/game/ai/core/ai-engine.test.ts
  src/game/ai/core/ai-engine.ts
  src/game/ai/core/bitboard.ts
  src/game/ai/core/move-generator.ts
  src/game/ai/evaluators/dellacherie.ts
  src/game/ai/evaluators/new-weights.ts
  src/game/ai/evaluators/stacking-evaluator.ts
  src/game/ai/search/beam-search.ts
  src/game/ai/search/diversity-beam-search.ts
  src/game/board-engine.test.ts
  src/game/board-engine.ts
  src/game/board.test.ts
  src/game/board.ts
Due: format, lint

feat: implement line-clearing priority AI strategy
  bun.lock
  package.json
  src/game/ai/core/ai-engine.test.ts
  src/game/ai/core/ai-engine.ts
  src/game/ai/evaluators/dellacherie.ts
  src/game/ai/evaluators/new-weights.ts
Due: format, lint

docs: update CLAUDE.md with current codebase state
  CLAUDE.md
Due: format

fix: resolve all test failures for line-clearing priority system
  src/game/ai/evaluators/dellacherie.test.ts
  src/game/ai/evaluators/new-weights.test.ts
  src/game/ai/tests/integration/ai-strategy-integration.test.ts
  src/game/board-engine.property.test.ts
Due: format, lint

feat: implement Phase 1 AI technical debt resolution - benchmark infrastructure and code cleanup
  biome.json
  bun.lock
  docs/todo-analysis.md
  package.json
  src/benchmarks/ai-engine-cli.ts
  src/benchmarks/cli.ts
  src/hooks/ai/useAdvancedAIController.ts
Due: format, lint

refactor(ai): split Dellacherie evaluator into modular structure
  src/game/ai/evaluators/dellacherie.ts
  src/game/ai/evaluators/dellacherie/calculator/scorer.ts
  src/game/ai/evaluators/dellacherie/calculator/weights.ts
  src/game/ai/evaluators/dellacherie/core/evaluator.ts
  src/game/ai/evaluators/dellacherie/features/board-analysis.ts
  src/game/ai/evaluators/dellacherie/features/holes.ts
  src/game/ai/evaluators/dellacherie/features/landing-height.ts
  src/game/ai/evaluators/dellacherie/features/transitions.ts
  src/game/ai/evaluators/dellacherie/features/wells.ts
  src/game/ai/evaluators/dellacherie/index.ts
  src/game/ai/evaluators/dellacherie/types.ts
  src/game/ai/evaluators/dellacherie/utils.ts
Due: format, lint

refactor: split pattern-search into core and recognition modules
  src/game/ai/search/pattern-recognition.ts
  src/game/ai/search/pattern-search-core.ts
  src/game/ai/search/pattern-search.ts
Due: format, lint

feat: create unified index.ts for AI evaluators module
  src/game/ai/evaluators/index.ts
Due: format, lint

feat: implement BaseEvaluator interface and unify AI evaluator architecture
  src/game/ai/core/ai-engine.ts
  src/game/ai/evaluators/README.md
  src/game/ai/evaluators/base-evaluator.ts
  src/game/ai/evaluators/dellacherie/core/evaluator.ts
  src/game/ai/evaluators/dellacherie/types.ts
  src/game/ai/evaluators/pattern-evaluator.ts
  src/game/ai/evaluators/stacking-evaluator.ts
Due: format, lint

feat: implement unified SearchStrategy interface and adapter pattern
  src/game/ai/core/advanced-ai-engine.ts
  src/game/ai/search/beam-search-adapter.ts
  src/game/ai/search/diversity-beam-search-adapter.ts
  src/game/ai/search/hold-search-adapter.ts
  src/game/ai/search/pattern-search-adapter.ts
  src/game/ai/search/search-config.ts
  src/game/ai/search/search-strategy.ts
Due: format, lint

feat: implement unified weight management system with YAML configuration
  bun.lock
  package.json
  src/game/ai/config/index.ts
  src/game/ai/config/weight-loader.test.ts
  src/game/ai/config/weight-loader.ts
  src/game/ai/config/weights.yaml
  src/game/ai/evaluators/dellacherie/calculator/weights.ts
  src/game/ai/evaluators/weights.ts
Due: format, lint

docs: add comprehensive CHANGELOG.md for release preparation
  CHANGELOG.md
Due: format

chore: update dependencies to latest versions
  bun.lock
  package.json
Due: format

chore: translate Japanese Claude commands and clean up unused i18n keys
  .claude/commands/commit-push.md
  .claude/commands/discuss-with-AIs.md
  .claude/commands/i18n-check.md
  .claude/commands/make.md
  src/locales/en.json
  src/locales/ja.json
Due: format

docs: update CLAUDE.md to reflect latest codebase structure
  CLAUDE.md
Due: format

refactor: remove unused code and dependencies to improve build performance
  .mcp.json
  bun.lock
  make.md
  package.json
  src/game/ai/config/index.ts
  src/game/ai/core/advanced-ai-engine.ts
  src/game/ai/evaluators/base-evaluator.ts
  src/game/ai/evaluators/index.ts
  src/game/ai/search/beam-search-adapter.ts
  src/game/ai/search/diversity-beam-search-adapter.ts
  src/game/ai/search/hold-search-adapter.ts
  src/game/ai/search/pattern-recognition.ts
  src/game/ai/search/pattern-search-adapter.ts
  src/game/ai/search/pattern-search.ts
  src/game/ai/search/search-config.ts
  src/game/ai/search/search-strategy.ts
Due: format, lint

feat: implement pattern feasibility checker for AI pattern search
  src/game/ai/search/pattern-search-core.ts
  src/game/ai/search/pattern-search.ts
  tests/performance/pattern-success-rates.test.ts
Due: format, lint

refactor: clean up codebase by removing unused code and redundant patterns
  bun.lock
  package.json
  src/game/ai/evaluators/patterns.ts
  src/hooks/actions/useGameActions.ts
  src/hooks/controls/useGameInputActions.ts
  src/store/gameStore.ts
  src/types/game.ts
  src/utils/animationConstants.test.ts
  src/utils/animationConstants.ts
  src/utils/gameConstants.test.ts
  src/utils/gameConstants.ts
Due: format, lint

docs: update project documentation for user-focused clarity
  CLAUDE.md
  README.md
Due: format

chore: update Playwright to v1.54.1
  bun.lock
  package.json
Due: format

docs: refine documentation language for target audiences
  CHANGELOG.md
  CLAUDE.md
  README.md
Due: format

docs: refine CLAUDE.md for improved AI assistant usability
  CLAUDE.md
Due: format

fix: resolve critical CLAUDE.md rule violations
  src/components/layout/Game.tsx
  src/test/setup.ts
Due: format, lint

refactor: Convert classes to pure functions for CLAUDE.md compliance
  src/benchmarks/bitboard.benchmark.ts
  src/benchmarks/collision-benchmark-class.ts.bak
  src/benchmarks/collision-benchmark.ts
  src/game/ai/config/weight-loader.test.ts
  src/game/ai/config/weight-loader.ts
  src/game/ai/core/advanced-ai-engine.ts
  src/game/ai/core/ai-engine.ts
  src/game/ai/core/bitboard-class.ts.bak
  src/game/ai/core/bitboard.test.ts
  src/game/ai/core/bitboard.ts
  src/game/ai/core/collision-detection-class.ts.bak
  src/game/ai/core/collision-detection.test.ts
  src/game/ai/core/collision-detection.ts
  src/game/ai/core/move-generator.ts
  src/game/ai/evaluators/advanced-features.test.ts
  src/game/ai/evaluators/advanced-features.ts
  src/game/ai/evaluators/base-evaluator.ts
  src/game/ai/evaluators/dellacherie/calculator/weights.test.ts
  src/game/ai/evaluators/dellacherie/calculator/weights.ts
  src/game/ai/evaluators/dellacherie/core/evaluator.ts
  src/game/ai/evaluators/dellacherie/features/board-analysis.ts
  src/game/ai/evaluators/dellacherie/features/holes.ts
  src/game/ai/evaluators/dellacherie/features/landing-height.ts
  src/game/ai/evaluators/dellacherie/features/transitions.ts
  src/game/ai/evaluators/dellacherie/features/wells.ts
  src/game/ai/evaluators/dellacherie/utils.ts
  src/game/ai/evaluators/new-weights.test.ts
  src/game/ai/evaluators/pattern-evaluator.test.ts
  src/game/ai/evaluators/pattern-evaluator.ts
  src/game/ai/evaluators/stacking-evaluator.ts
  src/game/ai/evaluators/weights.ts
  src/game/ai/index.ts
  src/game/ai/search/beam-search.test.ts
  src/game/ai/search/beam-search.ts
  src/game/ai/search/diversity-beam-search.ts
  src/game/ai/search/hold-search.test.ts
  src/game/ai/search/hold-search.ts
  src/game/ai/search/pattern-search-core.ts
  src/game/ai/search/pattern-search.test.ts
  src/game/ai/tests/integration/ai-strategy-integration.test.ts
Due: format, lint

fix: Resolve remaining BitBoard import errors in test files
  src/game/ai/evaluators/dellacherie.test.ts
Due: format, lint

fix: Resolve all remaining test failures and clean up backup files
  src/benchmarks/collision-benchmark-class.ts.bak
  src/game/ai/core/bitboard-class.ts.bak
  src/game/ai/core/collision-detection-class.ts.bak
  src/game/ai/search/beam-search-integration.test.ts
  src/game/ai/search/diversity-beam-search.test.ts
Due: format, lint

feat: standardize import paths to @/ prefix for CLAUDE.md compliance
  src/benchmarks/board-engine.benchmark.ts
  src/game/ai/core/advanced-ai-engine.ts
  src/game/ai/core/ai-engine.ts
  src/game/ai/evaluators/advanced-features.test.ts
  src/game/ai/evaluators/advanced-features.ts
  src/game/ai/evaluators/dellacherie/calculator/scorer.ts
  src/game/ai/evaluators/dellacherie/calculator/weights.test.ts
  src/game/ai/evaluators/dellacherie/calculator/weights.ts
  src/game/ai/evaluators/dellacherie/core/evaluator.ts
  src/game/ai/evaluators/dellacherie/features/landing-height.ts
  src/game/ai/search/beam-search.test.ts
  src/game/ai/search/beam-search.ts
  src/game/ai/search/hold-search.test.ts
  src/game/ai/search/hold-search.ts
  src/game/ai/search/performance-benchmark.test.ts
  src/game/ai/tests/integration/ai-strategy-integration.test.ts
  src/game/board.ts
Due: format, lint

refactor: optimize useEffect usage for improved maintainability
  docs/todo-analysis.md
  docs/useeffect-refactoring-sow.md
  src/hooks/ai/useAdvancedAIController.ts
  src/hooks/controls/useKeyboardControls.ts
Due: format, lint

docs: tone down README with more modest descriptions
  README.md
Due: format

chore: remove completed useEffect refactoring SOW
  docs/useeffect-refactoring-sow.md
Due: format

feat: add automated issue resolver workflow for nighttime processing
  .github/workflows/auto-issue-resolver.yml
Due: none

feat: enhance i18n system with comprehensive translation support and advanced checking
  .claude/commands/i18n-check.md
  .github/workflows/benchmarks.yml
  scripts/check-i18n-keys.ts
  src/locales/en.json
  src/locales/ja.json
Due: format, lint

refactor: improve i18n key checker with better pattern handling
  scripts/check-i18n-keys.ts
Due: format, lint

refactor: clean up build pipeline and remove unused code
  .claude/commands/make.md
  scripts/check-i18n-keys.ts
  src/game/ai/core/bitboard.ts
Due: format, lint

fix: fix useGameInputActions test for CI environment
  src/hooks/controls/useGameInputActions.test.ts
Due: format, lint

feat: add automated issue resolver workflow for nighttime processing
  .github/workflows/auto-issue-resolver.yml
  scripts/README.md
Due: format

feat: add Japanese localization for AI Player UI components
  src/components/game/AIVisualization.tsx
  src/components/game/AdvancedAIControls.tsx
  src/locales/en.json
  src/locales/ja.json
Due: format, lint

Path conditions:
  format: any of: *.{js,ts,jsx,tsx,json,md}
  lint: any of: *.{js,ts,jsx,tsx}
