Repository sakataka/tetris-game2: changes, and which lefthook commands are due for each by the changed paths.
All: lint, typecheck

lefthook.yml:

# Lefthook configuration for Tetris Game
# https://github.com/evilmartians/lefthook

pre-commit:
  parallel: true
  commands:
    lint:
      glob: "*.{js,ts,jsx,tsx}"
      run: pnpm run lint
      stage_fixed: true
    
    typecheck:
      glob: "*.{ts,tsx}"
      run: tsc --noEmit

commit-msg:
  commands:
    commitlint:
      run: |
        # Check commit message format
        if ! grep -qE "^(feat|fix|docs|style|refactor|test|chore)(\(.+\))?: .+" {1}; then
          echo "‚ùå Commit message must follow format: type(scope): description"
          echo "   Types: feat, fix, docs, style, refactor, test, chore"
          echo "   Example: feat(game): add tetris piece rotation"
          exit 1
        fi

refactor: complete Step 4 - simplify code with balanced abstraction
  docs/refactor-plan.md
  src/components/game/AnimatedScoreItem.tsx
  src/components/game/Board.tsx
  src/components/game/BoardCell.tsx
  src/components/game/ScoreBoard.tsx
  src/hooks/useAnimatedValue.ts
  src/hooks/useCellAnimation.ts
  src/hooks/useGameSelectors.ts
Due: lint, typecheck

feat: implement comprehensive error handling system for Step 5
  docs/refactor-plan.md
  src/components/ErrorBoundary.tsx
  src/components/FallbackUI.tsx
  src/game/board.ts
  src/types/errors.ts
  src/utils/errorHandling.ts
  src/utils/errorLogger.ts
  src/utils/gameValidation.ts
  src/utils/typeGuards.ts
Due: lint, typecheck

chore: remove unused error handling files detected by knip
  src/components/ErrorBoundary.tsx
  src/components/FallbackUI.tsx
  src/utils/errorHandling.ts
  src/utils/errorLogger.ts
  src/utils/gameValidation.ts
  src/utils/typeGuards.ts
Due: lint, typecheck

test: implement comprehensive test coverage for Step 6
  docs/refactor-plan.md
  src/components/game/BoardCell.test.tsx
  src/hooks/useAnimatedValue.test.ts
  src/hooks/useGameLoop.test.ts
  src/hooks/useKeyboardControls.test.ts
Due: lint, typecheck

perf: implement board rendering optimization for Step 7
  docs/refactor-plan.md
  src/components/game/Board.tsx
Due: lint, typecheck

test: add remaining UI component tests for comprehensive coverage
  src/components/game/AnimatedScoreItem.test.tsx
  src/components/game/Controls.test.tsx
  src/components/game/GameOverlay.test.tsx
Due: lint, typecheck

fix(ci): add debug type and fix lefthook commit validation
  lefthook.yml
Due: none

chore: clean up lefthook config to standard commit types
  lefthook.yml
Due: none

feat: implement comprehensive accessibility improvements for WCAG compliance
  docs/refactor-plan.md
  scripts/check-accessibility.js
  src/components/game/GameOverlay.test.tsx
  src/components/game/GameOverlay.tsx
  src/components/game/ScoreBoard.tsx
  src/components/layout/Game.tsx
Due: lint, typecheck

docs: update CLAUDE.md to reflect current project structure and dependencies
  CLAUDE.md
  package.json
  pnpm-lock.yaml
Due: none

docs: add coding standards and error handling policies to CLAUDE.md
  CLAUDE.md
  biome.json
Due: none

refactor: align project structure with React/Vite standards
  docs/refactor-plan.md
  index.html
  public/robots.txt
  tailwind.config.js
Due: lint

refactor: migrate to @tailwindcss/vite plugin for better performance
  CLAUDE.md
  package.json
  pnpm-lock.yaml
  postcss.config.js
  vite.config.ts
Due: lint, typecheck

chore: remove unused postcss dependency
  package.json
  pnpm-lock.yaml
Due: none

refactor: improve game logic and component structure with Tailwind CSS config fix
  CLAUDE.md
  package.json
  pnpm-lock.yaml
  postcss.config.js
  src/components/game/Board.tsx
  src/components/game/BoardCell.test.tsx
  src/components/game/BoardCell.tsx
  src/game/game.ts
  vite.config.ts
Due: lint, typecheck

refactor: translate Japanese comments to English and remove commented code
  src/components/game/Board.tsx
  src/hooks/useAnimationCompletionHandler.ts
Due: lint, typecheck

feat: migrate from pnpm to Bun v1.2.17 package manager and test runner
  .github/workflows/ci.yml
  CLAUDE.md
  bun.lock
  bunfig.toml
  docs/bun-migration-checklist.md
  docs/bun-migration.md
  docs/migration-configs/bun-info-examples.md
  docs/migration-configs/bun.build.ts.example
  docs/migration-configs/github-actions.yml.example
  docs/migration-configs/lefthook.yml.example
  docs/migration-configs/package.json.example
  docs/migration-configs/test-setup.ts.example
  docs/migration-configs/tsconfig.json.example
  docs/migration-configs/vercel.json.example
  pnpm-lock.yaml
  src/components/game/AnimatedScoreItem.test.tsx
  src/components/game/BoardCell.test.tsx
  src/components/game/Controls.test.tsx
  src/components/game/GameOverlay.test.tsx
  src/game/board.test.ts
  src/game/game.test.ts
  src/game/tetrominos.test.ts
  src/hooks/useAnimatedValue.test.ts
  src/hooks/useGameLoop.test.ts
  src/hooks/useKeyboardControls.test.ts
  src/test/setup.ts
  vercel.json
Due: lint, typecheck

docs: update documentation for Bun v1.2.17 migration
  .vscode/extensions.json
  CLAUDE.md
  README.md
  docs/bun-migration-checklist.md
  tsconfig.editor.json
  tsconfig.json
Due: none

fix: update build pipeline for Bun v1.2.17 environment
  .claude/commands/make.md
  knip.json
  vite.config.ts
Due: lint, typecheck

feat: migrate to Rolldown-Vite for 82% faster builds
  CLAUDE.md
  bun.lock
  package.json
  vite.config.ts
Due: lint, typecheck

docs: clean up migration documentation and optimize command structure
  .claude/commands/make.md
  CLAUDE.md
  docs/bun-migration-checklist.md
  docs/bun-migration.md
  docs/migration-configs/bun-info-examples.md
  docs/migration-configs/bun.build.ts.example
  docs/migration-configs/github-actions.yml.example
  docs/migration-configs/lefthook.yml.example
  docs/migration-configs/package.json.example
  docs/migration-configs/test-setup.ts.example
  docs/migration-configs/tsconfig.json.example
  docs/migration-configs/vercel.json.example
  tsconfig.json
  tsconfig.tsbuildinfo
Due: none

fix: resolve line clear animation color bleeding issue
  src/components/game/Board.tsx
  src/components/game/BoardCell.tsx
  src/hooks/useAnimationCompletionHandler.ts
  src/hooks/useCellAnimation.ts
Due: lint, typecheck

docs: update README to reflect latest project state
  README.md
Due: none

chore: add TypeScript build info to gitignore
  .gitignore
  tsconfig.tsbuildinfo
Due: none

refactor: major code reduction - eliminate redundancy across codebase
  REFACTORING_REPORT.md
  bun.lock
  package.json
  src/components/game/Board.tsx
  src/game/board.ts
  src/hooks/useKeyboardControls.ts
  src/types/errors.ts
Due: lint, typecheck

refactor: remove unused errors.ts file detected by knip
  REFACTORING_REPORT.md
  src/types/errors.ts
Due: lint, typecheck

refactor: implement quality improvements from external code review
  .github/workflows/ci.yml
  REFACTORING_REPORT.md
  docs/improvements-2025-06-23.md
  knip.json
  src/components/game/Board.tsx
  src/components/game/Controls.test.tsx
  src/components/game/GameOverlay.test.tsx
  src/hooks/useAnimatedValue.test.ts
  src/hooks/useGameSelectors.ts
  src/test/__mocks__/react-i18next.ts
Due: lint, typecheck

feat: add ghost piece preview and high score tracking
  docs/improvements-2025-06-23.md
  docs/project-phases-checklist.md
  src/components/game/Board.tsx
  src/components/game/BoardCell.tsx
  src/components/game/HighScore.tsx
  src/components/game/ScoreBoard.tsx
  src/components/game/TouchControls.test.tsx
  src/components/game/TouchControls.tsx
  src/components/game/index.ts
  src/components/layout/Game.tsx
  src/game/game.ts
  src/game/ghost.test.ts
  src/hooks/useGameSelectors.ts
  src/hooks/useHighScore.ts
  src/hooks/useTouchGestures.test.ts
  src/hooks/useTouchGestures.ts
  src/locales/en.json
  src/locales/ja.json
  src/store/gameStore.ts
  src/types/game.ts
  src/utils/localStorage.test.ts
  src/utils/localStorage.ts
  src/utils/styles.ts
Due: lint, typecheck

fix: remove any type usage in touch gestures test
  src/hooks/useTouchGestures.test.ts
Due: lint, typecheck

refactor: clean up unused code and simplify TypeScript config
  docs/project-phases-checklist.md
  src/hooks/useHighScore.ts
  src/utils/localStorage.ts
  tsconfig.editor.json
  tsconfig.json
  tsconfig.node.json
Due: lint, typecheck

docs: simplify README to focus on essentials
  README.md
Due: none

fix: resolve async test hanging issues for Vercel CI
  src/hooks/useGameLoop.test.ts
  src/hooks/useTouchGestures.test.ts
Due: lint, typecheck

docs: update CLAUDE.md with current implementation state
  .vscode/extensions.json
  CLAUDE.md
  docs/project-phases-checklist.md
Due: none

feat: improve responsive layout and migrate to oxc for enhanced performance
  bun.lock
  docs/improvement-proposals.md
  package.json
  src/components/layout/Game.tsx
  vite.config.ts
Due: lint, typecheck

chore: optimize pre-commit hooks for faster development
  biome.json
  lefthook.yml
  package.json
Due: none

chore: remove unnecessary scripts from package.json
  package.json
Due: none

refactor: clean up package.json for better maintainability
  package.json
Due: none

fix: resolve useKeyboardControls test failures and improve mock management
  bun.lock
  docs/improvement-proposals.md
  package.json
  src/hooks/useKeyboardControls.test.ts
Due: lint, typecheck

fix: replace any type with proper type annotation in test
  src/hooks/useKeyboardControls.test.ts
Due: lint, typecheck

fix: update knip configuration to properly detect test dependencies
  knip.json
Due: none
