Repository sakataka/tetris-game2: changes, and which lefthook commands are due for each by the changed paths.
All: lint, test, typecheck

lint:
  run: pnpm run lint
  stage_fixed: true

test:
  run: pnpm run test

typecheck:
  run: tsc --noEmit

fix(hook): adjust commit message validation pattern
  lefthook.yml
  test-hook.txt
Due: none

chore: remove test file
  lefthook.yml
  test-hook.txt
Due: none

feat(tools): add knip for dead code detection
  knip.json
  package.json
  pnpm-lock.yaml
Due: none

docs: add comprehensive project overview in Japanese
  CLAUDE.md
Due: none

feat: add GitHub Actions CI/CD and Vercel deployment
  .github/workflows/ci.yml
  .github/workflows/deploy.yml
  .gitignore
  CLAUDE.md
  package.json
  vercel.json
Due: none

fix: disable automatic Vercel deployment until secrets are configured
  .github/workflows/deploy.yml
  DEPLOYMENT.md
Due: none

feat: enable automatic Vercel deployment
  .github/workflows/deploy.yml
Due: none

style: fix linting issues with biome formatter
  knip.json
  vercel.json
Due: none

fix: resolve Biome execution permission error in CI
  .github/workflows/ci.yml
Due: none

fix: improve Vercel deployment configuration
  .github/workflows/deploy.yml
  vercel.json
Due: none

fix: switch to official Vercel action and simplify configuration
  .github/workflows/deploy.yml
  vercel.json
Due: none

fix: use BetaHuhn/deploy-to-vercel-action for reliable deployment
  .github/workflows/deploy.yml
Due: none

feat: migrate to Vercel official GitHub integration
  .github/workflows/deploy.yml
  DEPLOYMENT.md
Due: none

style: standardize markdown formatting in CLAUDE.md
  CLAUDE.md
Due: none

docs: clarify Zod usage for future feature development
  CLAUDE.md
Due: none

fix: resolve line clearing color display issues
  CLAUDE.md
  DEPLOYMENT.md
  package.json
  pnpm-lock.yaml
  src/components/Board.tsx
  src/components/GameOverlay.tsx
  src/components/ScoreBoard.tsx
  src/game/board.ts
  src/game/game.ts
  src/hooks/useGameLoop.ts
  src/store/gameStore.ts
  src/types/game.ts
Due: lint, test, typecheck

fix: resolve array reference issue causing color mixing after line clearing
  CLAUDE.md
  src/components/Board.tsx
  src/game/board.ts
  src/game/game.ts
Due: lint, test, typecheck

feat: migrate keyboard controls to react-hotkeys-hook
  CLAUDE.md
  package.json
  pnpm-lock.yaml
  src/components/Board.tsx
  src/hooks/useGameLoop.ts
  src/hooks/useKeyboardControls.ts
Due: lint, test, typecheck

fix: exclude coverage folder from Biome linting
  biome.json
Due: none

fix: resolve lint warnings and optimize pre-commit hooks
  lefthook.yml
  src/components/Board.tsx
  src/game/game.ts
Due: lint, test, typecheck

feat: add format to pre-commit hooks
  lefthook.yml
Due: none

feat: complete UI modernization with shadcn/ui and Tailwind CSS
  CLAUDE.md
  docs/UI_IMPROVEMENT_PLAN.md
  package.json
  pnpm-lock.yaml
  src/components/Board.tsx
  src/components/Controls.tsx
  src/components/Game.tsx
  src/components/GameOverlay.tsx
  src/components/LanguageSelector.tsx
  src/components/NextPiece.tsx
  src/components/ScoreBoard.tsx
  src/components/ui/badge.tsx
  src/components/ui/button.tsx
  src/components/ui/card.tsx
  src/components/ui/dialog.tsx
  src/components/ui/select.tsx
  src/hooks/useTheme.ts
  src/index.css
  src/lib/utils.ts
  src/types/ui.ts
  tailwind.config.js
  tsconfig.json
  vite.config.ts
Due: lint, test, typecheck

fix: resolve lint warning by changing role from grid to img
  src/components/Board.tsx
Due: lint, test, typecheck

chore: remove unused files detected by knip
  src/hooks/useTheme.ts
  src/types/ui.ts
Due: lint, test, typecheck

fix: implement proper TailwindCSS 4.1 syntax for custom colors
  index.html
  src/index.css
  tailwind.config.js
Due: lint, test

fix: resolve pause key double-firing issue with debounce
  src/hooks/useKeyboardControls.ts
Due: lint, test, typecheck

feat: improve pause dialog UX and add development tools
  .claude/commands/make.md
  CLAUDE.md
  package.json
  src/components/GameOverlay.tsx
  src/components/NextPiece.tsx
  src/components/ui/dialog.tsx
  src/locales/en.json
  src/locales/ja.json
Due: lint, test, typecheck

fix: clean up dialog UI and remove focus rings from buttons
  src/components/GameOverlay.tsx
  src/components/ScoreBoard.tsx
  src/components/ui/button.tsx
Due: lint, test, typecheck

fix: remove dialog button focus rings and unify keyboard controls
  src/components/GameOverlay.tsx
  src/hooks/useKeyboardControls.ts
Due: lint, test, typecheck

docs: update CLAUDE.md with comprehensive source code implementation details
  CLAUDE.md
  docs/UI_IMPROVEMENT_PLAN.md
Due: none

docs: add plan-to-checklist.md command documentation
  .claude/commands/plan-to-checklist.md
Due: none

docs: refactor CLAUDE.md to use abstract descriptions instead of code snippets
  CLAUDE.md
Due: none

docs: add comprehensive refactoring plan checklist
  docs/refactor-plan.md
Due: none

refactor: complete Step 1 - foundation cleanup and redundancy elimination
  docs/refactor-plan.md
  src/App.tsx
  src/components/NextPiece.tsx
  src/components/game/Board.tsx
  src/components/game/Controls.tsx
  src/components/game/GameOverlay.tsx
  src/components/game/NextPiece.tsx
  src/components/game/ScoreBoard.tsx
  src/components/game/index.ts
  src/components/index.ts
  src/components/layout/Game.tsx
  src/components/layout/LanguageSelector.tsx
  src/components/layout/index.ts
  src/game/board.test.ts
  src/game/board.ts
  src/game/game.test.ts
  src/game/game.ts
  src/types/game.ts
  src/utils/animation.ts
  src/utils/colors.ts
  src/utils/constants.ts
  src/utils/position.ts
  src/utils/styles.ts
Due: lint, test, typecheck

refactor: complete Step 2 - apply modern technology features
  docs/refactor-plan.md
  src/components/game/Board.tsx
  src/components/game/ScoreBoard.tsx
  src/game/board.ts
  src/game/game.ts
  src/game/tetrominos.ts
  src/hooks/useGameLoop.ts
  src/hooks/useKeyboardControls.ts
  src/types/game.ts
  src/utils/colors.ts
Due: lint, test, typecheck

docs: add modern technology guidelines to CLAUDE.md
  CLAUDE.md
Due: none

chore: remove unused code detected by knip
  src/components/index.ts
  src/components/layout/index.ts
  src/types/game.ts
  src/utils/animation.ts
  src/utils/colors.ts
  src/utils/constants.ts
  src/utils/position.ts
  src/utils/styles.ts
Due: lint, test, typecheck

chore: add knip to build pipeline in make command
  .claude/commands/make.md
Due: none

refactor: complete Step 3 - improve naming conventions and documentation
  docs/refactor-plan.md
  src/components/game/Board.tsx
  src/game/game.test.ts
  src/game/game.ts
  src/store/gameStore.ts
  src/types/game.ts
Due: lint, test, typecheck

docs: enhance development guidelines with proactive improvement strategies
  CLAUDE.md
Due: none

Path conditions:
  lint: any of: *.{js,ts,jsx,tsx}
  test: any of: *.{js,ts,jsx,tsx}
  typecheck: any of: *.{ts,tsx}
