Repository sakataka/tetris-game2: changes, and which lefthook commands are due for each by the changed paths.
All: format, lint

lefthook.yml:

# Lefthook configuration for Tetris Game
# https://github.com/evilmartians/lefthook

pre-commit:
  parallel: true
  commands:
    format:
      glob: "*.{js,ts,jsx,tsx,json,md}"
      run: bun run format
      stage_fixed: true
    
    lint:
      glob: "*.{js,ts,jsx,tsx}"
      run: bun run lint
      stage_fixed: true

commit-msg:
  commands:
    commitlint:
      run: |
        # Check commit message format
        if ! grep -qE "^(feat|fix|docs|style|refactor|test|chore)(\(.+\))?: .+" {1}; then
          echo "‚ùå Commit message must follow format: type(scope): description"
          echo "   Types: feat, fix, docs, style, refactor, test, chore"
          echo "   Example: feat(game): add tetris piece rotation"
          exit 1
        fi

feat: implement Storybook v8 + Chromatic visual regression setup
  .github/workflows/chromatic.yml
  .gitignore
  .storybook/main.ts
  .storybook/preview.ts
  bun.lock
  package.json
  src/components/game/Board.stories.tsx
  src/components/game/ScoreBoard.stories.tsx
  src/components/layout/MobileHeader.stories.tsx
Due: format, lint

feat: implement extended design tokens system (Phase 0 prototype)
  .claude/commands/code-review.md
  .claude/commands/plan-to-checklist.md
  .vscode/extensions.json
  biome.json
  bun.lock
  package.json
  src/design-tokens/index.ts
  src/design-tokens/types.ts
  tailwind.config.js
Due: format, lint

feat: implement Custom Hooks Architecture with adaptive performance monitoring
  bun.lock
  knip.json
  package.json
  src/hooks/ai/useAIController.ts
  src/hooks/core/useAdaptivePerformance.test.ts
  src/hooks/core/useAdaptivePerformance.ts
  src/hooks/game/useGameControls.test.ts
  src/hooks/game/useGameControls.ts
  src/hooks/game/useScoreManager.ts
  src/types/game.ts
Due: format, lint

refactor: clean up measurements system and remove failing hook tests
  .gitignore
  package.json
  scripts/measure-space-efficiency.ts
  src/components/game/Board.tsx
  src/components/layout/Game.tsx
  src/components/layout/GameLayout.tsx
  src/components/ui/LayoutModeToggle.tsx
  src/hooks/controls/useGameInputActions.test.ts
  src/hooks/controls/useMovementControls.test.ts
  src/hooks/controls/useRotationControl.test.ts
  src/hooks/core/useAdaptivePerformance.test.ts
  src/hooks/core/useDesignTokens.ts
  src/hooks/game/useGameControls.test.ts
  src/hooks/ui/useResponsiveBoard.ts
  src/index.css
Due: format, lint

feat: implement Theme Provider with Compact/Normal/Gaming Mode Switching
  src/App.tsx
  src/components/ui/ThemeModeSelector.tsx
  src/components/ui/__tests__/ThemeModeSelector.test.tsx
  src/contexts/ThemeContext.tsx
  src/contexts/__tests__/ThemeContext.test.tsx
  src/hooks/core/__tests__/useFeatureFlag.test.ts
  src/hooks/core/useFeatureFlag.ts
  src/main.tsx
  src/styles/gaming-theme.css
Due: format, lint

feat: implement WCAG 2.2 AA accessibility compliance with automated testing
  CONTRAST_FINDINGS_SUMMARY.md
  bun.lock
  color-contrast-analysis.md
  package.json
  scripts/accessibility-audit.ts
  scripts/debug-accessibility.ts
  src/components/accessibility/SkipLinks.tsx
  src/components/common/ErrorBoundary.tsx
  src/components/game/AIReplay.tsx
  src/components/game/AIVisualization.tsx
  src/components/game/AdvancedAIControls.tsx
  src/components/game/AnimatedScoreItem.tsx
  src/components/game/Controls.tsx
  src/components/game/CurrentHighScore.tsx
  src/components/game/DebugIndicator.tsx
  src/components/game/GameOverlay.tsx
  src/components/game/HighScoreItem.tsx
  src/components/game/HighScoreList.tsx
  src/components/game/NoHighScore.tsx
  src/components/game/PieceDisplay.tsx
  src/components/game/ResetConfirmationDialog.tsx
  src/components/game/ScoreBoard.tsx
  src/components/layout/Game.tsx
  src/components/layout/GameLayout.tsx
  src/components/ui/card.tsx
  src/contexts/__tests__/ThemeContext.test.tsx
  src/design-tokens/index.ts
  src/hooks/accessibility/useFocusManagement.ts
  src/hooks/accessibility/useScreenReaderAnnouncements.ts
  src/index.css
  src/locales/en.json
  src/locales/ja.json
Due: format, lint

feat: implement Frame Budget Sentinel prototype for animation system
  src/benchmarks/frame-budget-overhead.bench.ts
  src/game/animations/sentinel/FrameBudgetSentinel.ts
  src/test/safari-compatibility.test.ts
Due: format, lint

refactor: streamline development guide and fix feature flag hooks
  CLAUDE.md
  CONTRAST_FINDINGS_SUMMARY.md
  color-contrast-analysis.md
  knip.json
  package.json
  src/components/ui/__tests__/ThemeModeSelector.test.tsx.disabled
  src/contexts/ThemeContext.tsx
  src/contexts/__tests__/ThemeContext.test.tsx
  src/hooks/ai/useAIController.ts
  src/hooks/core/__tests__/useFeatureFlag.test.ts.skip
  src/hooks/core/useFeatureFlag.ts
  src/hooks/game/useGameControls.ts
  src/hooks/game/useScoreManager.ts
  src/hooks/ui/useResponsiveBoard.ts
  src/test/setup.ts
  src/types/game.ts
Due: format, lint

feat: implement Animation Orchestrator prototype with load management
  src/game/animations/core/priorityQueue.ts
  src/hooks/animations/useAnimationOrchestrator.ts
  src/test/mock-frame-budget.ts
  src/test/orchestrator-load.test.ts
Due: format, lint

feat: implement AI-prohibited fine-tune configuration system (Phase 1)
  bun.lock
  package.json
  scripts/generate-config-types.ts
  src/game/animations/config/fine-tune.json
  src/game/animations/config/index.ts
  src/game/animations/config/loader.ts
  src/game/animations/config/schema/fine-tune.schema.json
  src/game/animations/config/types.generated.ts
  src/game/animations/config/validation.ts
Due: format, lint

feat: implement ultra-responsive UI feedback system (60ms target)
  fine-tune.json
  src/App.tsx
  src/components/game/GameControlButton.tsx
  src/components/game/TouchControls.tsx
  src/components/ui/AnimatedButton.tsx
  src/contexts/AnimationContext.tsx
  src/hooks/ui/usePerformanceMonitor.ts
  src/utils/browserCompat.ts
Due: format, lint

feat: implement Score Animation System prototype for gaming feedback excellence
  src/benchmarks/ai-engine-cli.ts
  src/benchmarks/ai-engine.benchmark.ts
  src/benchmarks/pattern-detection.benchmark.ts
  src/components/game/ComboIndicator.tsx
  src/components/game/FloatingScoreText.tsx
  src/components/game/ScoreBoard.tsx
  src/components/game/ScoreCounter.tsx
  src/components/game/TetrisFlashEffect.tsx
  src/game/game.ts
  src/hooks/game/useScoreAnimationMetrics.ts
  src/hooks/selectors/useScoreSelectors.ts
  src/types/game.ts
Due: format, lint

feat: implement Level Celebration System prototype for achievement excellence
  src/benchmarks/ai-engine-cli.ts
  src/benchmarks/ai-engine.benchmark.ts
  src/benchmarks/pattern-detection.benchmark.ts
  src/components/game/CelebrationEffects.tsx
  src/components/game/LevelCelebration.tsx
  src/components/game/NextLevelPreview.tsx
  src/game/game.ts
  src/hooks/game/useCelebrationMetrics.ts
  src/hooks/game/useLevelCelebrationControl.ts
  src/index.css
  src/locales/en.json
  src/locales/ja.json
  src/store/gameStore.ts
  src/styles/celebration.css
  src/types/game.ts
Due: format, lint

fix: resolve Zustand store initialization issues in test environment
  bun.lock
  package.json
  src/components/game/CelebrationEffects.tsx
  src/components/game/LevelCelebration.tsx
  src/components/game/NextLevelPreview.tsx
  src/contexts/AnimationContext.tsx
  src/contexts/__tests__/ThemeContext.test.tsx
  src/game/animations/config/index.ts
  src/game/animations/config/loader.ts
  src/game/animations/config/types.generated.ts
  src/game/animations/config/validation.ts
  src/hooks/core/useFeatureFlag.ts
  src/hooks/core/useGameActionHandler.test.ts
  src/hooks/core/useGameLoop.test.ts
  src/hooks/game/useCelebrationMetrics.ts
  src/hooks/game/useLevelCelebrationControl.ts
  src/hooks/game/useScoreAnimationMetrics.ts
  src/utils/browserCompat.ts
Due: format, lint

docs: update documentation to reflect latest project architecture and features
  CLAUDE.md
  README.md
  src/contexts/__tests__/ThemeContext.test.tsx
  src/contexts/__tests__/mockTheme.tsx
  src/hooks/core/useGameActionHandler.test.ts
  src/hooks/core/useGameLoop.test.ts
  src/store/highScoreStore.test.ts
  src/store/settingsStore.test.ts
  src/store/settingsStore.ts
Due: format, lint

fix: resolve i18n hardcoded strings and optimize translation files
  index.html
  src/components/game/TSpinIndicator.tsx
  src/game/scoring.test.ts
  src/game/scoring.ts
  src/hooks/core/useFeatureFlag.ts
  src/locales/en.json
  src/locales/ja.json
Due: format, lint

chore: update dependencies - motion v12.23.5 and rolldown-vite v7.0.9
  bun.lock
  package.json
Due: format

docs: add MCP tool usage guidelines to CLAUDE.md
  CLAUDE.md
Due: format

feat: implement core game engine package with BitBoard and event system
  biome.json
  packages/tetris-engine/README.md
  packages/tetris-engine/bun.lock
  packages/tetris-engine/package.json
  packages/tetris-engine/src/core/bitboard.ts
  packages/tetris-engine/src/core/collision.ts
  packages/tetris-engine/src/core/operations.ts
  packages/tetris-engine/src/core/tetrominos.ts
  packages/tetris-engine/src/events/bus.ts
  packages/tetris-engine/src/index.ts
  packages/tetris-engine/src/types.ts
  packages/tetris-engine/tests/bitboard.test.ts
  packages/tetris-engine/tests/eventbus.test.ts
  packages/tetris-engine/tests/golden-master/__snapshots__/engine.test.ts.snap
  packages/tetris-engine/tests/golden-master/engine.test.ts
  packages/tetris-engine/tests/performance/benchmarks.test.ts
  packages/tetris-engine/tsconfig.json
  packages/tetris-engine/vitest.config.ts
Due: format, lint

feat: implement Legacy GameStore Adapter for seamless migration
  .env.example
  src/shared/config/features.ts
  src/shared/mocks/tetris-engine.ts
  src/store/adapters/legacy-gamestore.ts
  tests/compatibility/legacy-adapter.test.ts
Due: format, lint

feat: implement Web Worker communication bridge for AI calculations
  src/shared/ai/index.ts
  src/shared/ai/worker-manager.ts
  src/shared/events/game-event-bus.ts
  src/shared/events/index.ts
  src/shared/events/worker-bridge.ts
  src/shared/index.ts
  src/shared/mocks/tetris-engine.ts
  src/workers/ai-worker.ts
  tests/integration/ai-worker-manager.test.ts
  tests/integration/worker-bridge.test.ts
  vite.config.ts
Due: format, lint

feat: implement memory efficient AI evaluation system
  src/shared/performance/monitor.ts
  src/workers/ai/object-pool.ts
  src/workers/ai/optimized-worker.ts
  src/workers/ai/ring-buffer.ts
  tests/performance/memory-optimization.test.ts
Due: format, lint

feat: implement comprehensive testing suite with property-based and regression tests
  bun.lock
  package.json
  tests/concurrency/event-system.test.ts
  tests/performance/budget.test.ts
  tests/property-based/game-engine.test.ts
Due: format, lint

feat: implement comprehensive bundle optimization with code splitting
  bun.lock
  package.json
  packages/tetris-engine/tests/golden-master/__snapshots__/engine.test.ts.snap
  public/ai-weights/easy.json
  public/ai-weights/expert.json
  public/ai-weights/hard.json
  public/ai-weights/medium.json
  scripts/analyze-bundle.ts
  src/features/ai-control/api/weights-loader.ts
  src/main.tsx
  src/shared/utils/dynamic-imports.ts
  src/store/gameStore.test.ts
  src/store/highScoreStore.test.ts
  vite.config.ts
Due: format, lint

feat: add comprehensive documentation and migration scripts
  biome.json
  docs/LEGACY_MIGRATION_PLAN.md
  docs/MIGRATION.md
  docs/ONBOARDING.md
  docs/adr/001-event-driven-architecture.md
  docs/adr/002-bitboard-representation.md
  packages/tetris-engine/README.md
  scripts/cleanup-legacy.js
Due: format, lint

feat: Phase 1 - Remove useGamePlay dependency on legacy GameStore
  src/features/game-play/lib/useGamePlay.ts
  src/features/game-play/model/gamePlaySlice.ts
  src/shared/events/game-event-bus.ts
Due: format, lint

feat: migrate core game components to new feature hooks architecture
  src/components/game/Board.tsx
  src/components/game/BoardCell.tsx
  src/components/game/GameOverlay.tsx
  src/components/game/TouchControls.tsx
Due: format, lint

fix: resolve comprehensive TypeScript errors throughout codebase
  knip.json
  package.json
  src/benchmarks/ai-engine-cli.ts
  src/benchmarks/ai-engine.benchmark.ts
  src/benchmarks/frame-budget-overhead.bench.ts
  src/benchmarks/pattern-detection.benchmark.ts
  src/components/game/Board.stories.tsx
  src/components/game/BoardCell.tsx
  src/features/ai-control/api/weights-loader.ts
  src/features/ai-control/ui/AIControlPanel.tsx
  src/features/scoring/api/scoreStorage.ts
  src/features/scoring/ui/AnimatedScoreItem.tsx
  src/features/scoring/ui/TetrisFlashEffect.tsx
  src/features/settings/api/settingsStorage.ts
  src/features/settings/model/settingsSlice.ts
  src/features/settings/ui/SettingsPanel.tsx
  src/game/game.ts
  src/shared/ai/worker-manager.ts
  src/shared/effects/gameEffects.ts
  src/shared/events/game-event-bus.ts
  src/shared/events/worker-bridge.ts
  src/shared/performance/monitor.ts
  src/shared/utils/dynamic-imports.ts
  src/types/game.ts
  src/workers/ai/object-pool.ts
  tests/concurrency/event-system.test.ts
  tests/integration/ai-worker-manager.test.ts
  tests/integration/worker-bridge.test.ts
  tests/performance/budget.test.ts
  tests/performance/memory-optimization.test.ts
  tests/property-based/game-engine.test.ts
Due: format, lint

fix: remove performance tests and focus on business logic testing
  package.json
  scripts/measure-space-efficiency.ts
  src/benchmarks/ai-engine-cli.ts
  src/benchmarks/ai-engine.benchmark.ts
  src/benchmarks/bitboard.benchmark.ts
  src/benchmarks/board-engine.benchmark.ts
  src/benchmarks/cli.ts
  src/benchmarks/collision-benchmark.ts
  src/benchmarks/frame-budget-overhead.bench.ts
  src/benchmarks/pattern-detection.benchmark.ts
  src/contexts/__tests__/ThemeContext.test.tsx
  src/contexts/__tests__/mockTheme.tsx
  src/game/ai/search/pattern-search.ts
  src/game/ai/search/performance-benchmark.test.ts
  src/hooks/core/useGameActionHandler.test.ts
  src/hooks/core/useGameLoop.test.ts
  src/shared/ai/worker-manager.ts
  src/shared/events/worker-bridge.ts
  src/shared/performance/monitor.ts
  src/shared/utils/dynamic-imports.ts
  src/store/gameStore.test.ts
  src/store/highScoreStore.test.ts
  src/store/settingsStore.test.ts
  src/test/mock-frame-budget.ts
  src/test/setup.ts
  src/workers/ai-worker.ts
  src/workers/ai/object-pool.ts
  src/workers/ai/ring-buffer.ts
  tests/ai/ai-ui-integration.spec.ts.skip
  tests/concurrency/event-system.test.ts
  tests/core-game-flow.spec.playwright.ts
  tests/integration/ai-worker-manager.test.ts
  tests/integration/worker-bridge.test.ts
  tests/performance/budget.test.ts
  tests/performance/memory-optimization.test.ts
  tests/performance/pattern-search.test.ts
  tests/performance/pattern-success-rates.test.ts
  tests/property-based/game-engine.test.ts
Due: format, lint

docs: comprehensive update of CLAUDE.md with improved structure and clarity
  CLAUDE.md
  docs/LEGACY_MIGRATION_PLAN.md
  docs/MIGRATION.md
  docs/ONBOARDING.md
  docs/adr/001-event-driven-architecture.md
  docs/adr/002-bitboard-representation.md
  scripts/accessibility-audit.ts
  scripts/analyze-bundle.ts
  scripts/cleanup-legacy.js
  scripts/debug-accessibility.ts
  scripts/generate-config-types.ts
  src/locales/en.json
  src/locales/ja.json
Due: format, lint

fix: resolve vitest version conflict
  bun.lock
  package.json
  packages/tetris-engine/bun.lock
  packages/tetris-engine/package.json
Due: format

fix: format vercel.json to pass biome CI checks
  vercel.json
Due: format

refactor: remove unused dependencies and clean up knip configuration
  knip.json
  package.json
Due: format

fix: update bun.lock to resolve frozen lockfile error in GitHub Actions
  bun.lock
Due: none

fix: exclude vercel.json from biome formatting to prevent deployment failures
  biome.json
Due: format

fix: restore vercel.json processing and use biome check instead of ci for deployment
  biome.json
  vercel.json
Due: format

fix: add biome format --write to vercel build command to auto-fix formatting
  vercel.json
Due: format

chore: remove chromatic visual tests workflow
  .github/workflows/chromatic.yml
Due: none
